/* header svgFont */
path {
  /*stroke: #803068;*/
  stroke: #f0ad4e;
  stroke-width: 0.4;stroke-linecap: square;
  fill: transparent !important;
}
a:hover path {
  /*stroke: #fff;*/
}

.main-body .thumbnail {
  height: 200px;
}
.main-body .thumbnail.selected {
  background: #f0ad4e;
}
.main-body .thumbnail.selected .caption h3,
.main-body .thumbnail.selected .caption .desc {
  color: #fff;
}

.main-body .thumbnail .desc{
  height: 80px;
  overflow: hidden;
}

.main-body .thumbnail .caption h3 {
  margin-top: 0;
}

.main-body .thumbnail .component-btn {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background-color: right;
  display: none;
}
.main-body .thumbnail:hover .component-btn {
  display: block;
}
/*header*/
.docs-header {
  position: relative;
  padding: 95px 15px 20px 15px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 0 rgba(0,0,0,.1);
  background-color: #f0ad4e;
  margin-bottom: 40px;
  font-size: 24px;
}
.create-build {
  display: inline-block;
}
.create-build .badge {
  background: #d9534f;
  position: relative;
  right: 20px;
}

.btn-outline-inverse {
  width: auto;
  margin: 20px 5px 20px 0;
  padding: 18px 24px;
  font-size: 21px;
  border: 2px solid #fff;
}
.btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  margin: 10px;
}
.btn-outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
  color: #f0ad4e;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}

.code .nav-tabs>li>a, .code .nav-tabs>li>a:hover, .code .nav-tabs>li>a:focus {
  cursor: pointer;
}
.code .nav-tabs>li.active>a, .code .nav-tabs>li.active>a:hover, .code .nav-tabs>li.active>a:focus {
background-color: #f8f8f8;
border: 1px solid #ccc;
border-bottom-color: transparent;
cursor: default;
}
.code .nav-tabs {
border-bottom: 1px solid #ccc;
}
.code pre, .code code {
border-top: none;
border-top-left-radius: 0;
border-top-right-radius: 0;
}




/* common */
/* margin padding*/
.mb_20 { margin-bottom: 20px !important; }
.pt_10 { padding-top: 10px !important; }
.pt_20 { padding-top: 20px !important; }
.pt_40 { padding-top: 40px !important; }
.pl_20 { padding-left: 20px !important; }

/* accordion */
.accordion-toggle {
  cursor: pointer;
}